%header
	.avatar= image_tag 'http://www.gravatar.com/avatar/cdb8cd976fbf218ccabaeae25cb060fb?s=150', :width => '150'
	%h1 Steve Lounsbury
	%h2 I'm a software developer in Ottawa, ON
.content
	%ul.contact_info
		%li= link_to 'GitHub', 'http://github.com/stephenminded', {:title => "Some of my work on GitHub"}
		%li= link_to 'LinkedIn', 'http://ca.linkedin.com/in/stevelounsbury/', {:title => "My LinkedIn profile"}
		%li= link_to 'Twitter', 'http://twitter.com/stephenminded', {:title => "@stepheminded on Twitter"}
		%li= link_to 'Email', 'mailto:steve.lounsbury@gmail.com', {:title => "Email me"}
